<html>
  <head>
	<title>Bareo</title>
    <script>
      /*
      @licstart  The following is the entire license notice for the 
      JavaScript code in this page.

      Copyright (C) 2015  zachwick and Bareo <zwick@bareo.io>

	  This program is free software: you can redistribute it and/or modify
      it under the terms of the GNU General Public License as published by
      the Free Software Foundation, either version 3 of the License, or
      (at your option) any later version.

      This program is distributed in the hope that it will be useful,
      but WITHOUT ANY WARRANTY; without even the implied warranty of
      MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
      GNU General Public License for more details.

      You should have received a copy of the GNU General Public License
      along with this program.  If not, see <http://www.gnu.org/licenses/>.

	  @licend  The above is the entire license notice
      for the JavaScript code in this page.
      */
    </script>
  </head>
  <body>
	<div id="app-container"></div>
	<div id="stocks-container" style="display: none;"></div>
	<div id="recipes-container" style="display: none;"></div>
	<div id="items-container" style="display: none;"></div>
	<div id="sales-container" style="display: none;"></div>

	<!-- JS View Templates -->
	<script type="text/template" id="app-template">
	  <div id="modal-background"></div>
	  <div id="modal-container">
		<div class="x-button">X</div>
		<div class="modal-content"></div>
	  </div>
	  <div id="header-container"></div>
	  <!--<div id="menu-container"></div>-->
	  <div id="new-item-container"></div>
	  <div id="content-container"></div>
	  <div id="login-container" class="<%= loggedIn ? 'state-hidden'
									   : 'state-visible' %>">
		<div id="login-form-header">
		  <div id="navigation">
			<span><a href="https://bareo.io/#about">ABOUT</a></span>|
			<span><a href="https://bareo.io/#features">FEATURES</a></span>|
			<span><a href="https://bareo.io/#pricing">PRICING</a></span>|
			<span><a href="https://bareo.io/#contact">CONTACT</a></span>
		  </div>
		  <div id="social_links">
			<span>
			  <a target="_blank" href="http://bareoapp.tumblr.com/">
				<img src="static/images/tumblr_logo.png"></img>
			  </a>
			</span>
			<span>
			  <a target="_blank" href="https://instagram.com/bareoapp">
				<img src="static/images/instagram_logo.png"></img>
			  </a>
			</span>
			<span>
			  <a target="_blank" href="https://twitter.com/bareoapp">
				<img src="static/images/twitter_logo.png"></img>
			  </a>
			</span>
		  </div>
		</div>
		<div id="signup-form-right" class="login-col">
		  <img src="static/images/bareo_text.png"/>
		  <form id="signup-form">
			<div class="form-header">
			  Welcome to the<br/>
			  smartest pantry!
			</div>
			<div class="form-line">
			  <input type="text" name="su_username" placeholder="username"/>
			</div>
			<div class="form-line">
			  <input type="password" name="su_password" placeholder="password"/>
			</div>
			<div class="form-line">
			  <input type="email" name="su_email" placeholder="email"/>
			</div>
			<div class="form-line">
			  <input type="text" name="su_phone" placeholder="phone"/>
			</div>
			<br/>
			<br/>
			<div class="form-line">
			  <input type="text" name="su_pan"
			  placeholder="card number"/>
			</div>
			<div class="form-line">
			  <input type="text" name="su_cvc" placeholder="CVC"/>
			</div>
			<div class="form-line">
			  <input type="text" name="su_zip"
			  placeholder="zipcode"/>
			</div>
			<div class="form-line">
			  <input type="number" size="2" min="1" max="12" name="su_exp_month"
			  placeholder="1"/>
			</div>
			<div class="form-line">
			  <input type="number" size="4" min="2016" max="2050" name="su_exp_year"
			  placeholder="2016"/>
			</div>
			<div class="form-line">
			  <input type="submit" value="Sign Up"/>
			</div>
			<br/>
		  </form>
		</div>
		<div id="login-form-right" class="login-col">
		  <img src="static/images/bareo_text.png"/>
		  <form id="login-form">
			<div class="form-header">
			  Welcome to the</br>
			  smartest pantry!
			</div>
			<div class="form-line">
			  <input type="text" name="username" placeholder="username"/>
			</div>
			<br/>
			<div class="form-line">
			  <input type="password" name="password" placeholder="password"/>
			</div>
			<br/>
			<div class="form-line small right">
			  <!-- TODO: zwick: Implement a form to begin the reset
			  password flow -->
			  <a href="">Forgot Password?</a><a href="" id="new_account">Sign Up</a>
			</div>
			<input type="submit" value="Login"/>
		  </form>
		</div>
	  </div>
	  <div id="add-menu-container"></di>
	  <div id="footer-container"></div>
	</script>

	<script type="text/template" id="header-template">
	  <div class="left-header-container">
		<a href="https://bareo.io" target="_blank">
		  <img src="static/images/bareo_text.png"/>
		</a>
	  </div>
	  <div class="right-header-container">
	    <span class="pane-toggle forecasting">Forecasting</span>
	    <span class="pane-toggle pantry">Pantry</span>
		<span class="username"><%= username %></span>
		<a href="<%= app_url %>" class="logout">LOGOUT</a>
	  </div>
	</script>

	<script type="text/template" id="footer-template">
	  <div class="left-footer-container">

	  </div>
	  <div class="right-footer-container">
		<span class="add-menu">+</span>
	  </div>
	</script>

	<script type="text/template" id="menu-template">
	  <span class="menu-title account-name"><%= account_name + "'s Pantry" %></span>
	  <br/>
	  <span class="menu-item store-link">&#9654; in store</span>
	  <br/>
	  <span class="menu-item items-link">&#9654; ingredients</span>
	  <br/>
	  <span class="menu-item recipes-link">&#9654; recipes</span>
	  <br/>
	  <span class="menu-item sales-link">&#9654; sales</span>
	  <br/>
	</script>

	<script type="text/template" id="sales-template">
	  <div class="col-header">
		<div class="col-header-button" id="new-sale-button">new sale</div>
	  </div>
	  <div class="col-body">
		<div class="col-title">SALES</div>
		<div class="sales-list-container pending-sales-container">
		  <div class="sales-section-title pending-sales-title">PENDING</div>
		  <ul class="sales-section-list pending-sales-list"></ul>
		</div>
		<div class="sales-list-container in-production-sales-container">
		  <div class="sales-section-title
					  in-production-sales-title">
			IN PRODUCTION
		  </div>
		  <ul class="sales-section-list in-production-sales-list"></ul>
		</div>
		<div class="sales-list-container completed-sales-container">
		  <div class="sales-section-title completed-sales-title">
			COMPLETED
		  </div>
		  <ul class="sales-section-list completed-sales-list"></ul>
		</div>
	  </div>
	</script>

	<script type="text/template" id="sale-template">
	  <span class="sale-name"><%= name %></span>
	  <span class="sale-objects"><%= disp_objects %></span>
	  <span class="sale-info"><%= status != 4 ? price : "View Details"%></span>
	</script>

	<script type="text/template" id="recipe-modal-template">
	  <div class="card-header">
		<div class="card-title"><%= name %></div>
	  </div>
	  <div class="card-body">
		<div class="recipe-image">
		  <!-- <img src="" /> -->
		</div>
		<div class="recipe-production-time">
		  <%= production_time %>hrs
		</div>
		<div class="recipe-yield">Makes <%= recipe_yield %><%= units %></div>
		<div class="recipe-prices-list"></div>
		<div class="recipe-items-list"></div>
	  </div>
	  <div class="card-footer">

	  </div>
	</script>

	<script type="text/template" id="recipes-template">
	  <div class="row-body">
		<div class="row-title">RECIPES</div>
		<hr/>
		<div class="recipes-list-container">
		  <div class="recipe-list"></div>
		</div>
		<hr/>
	  </div>
	</script>

	<script type="text/template" id="recipe-template">
	  <div class="card-header">
		<div class="card-title"><%= name %></div>
		<div class="card-desc">
		  Makes <%= recipe_yield %> <%= units %> | <%= production_time %> hrs
		</div>
	  </div>
	  <hr/>
	  <div class="card-body">
		<div class="recipe-image">
		  <!-- <img src="" /> -->
		</div>
	  </div>
	  <div class="card-footer">

	  </div>
	</script>

	<script type="text/template" id="stocks-template">
	  <!-- STOCKLIST HTML HERE -->
	</script>

	<script type="text/template" id="stock-template">
	  <!-- STOCK HTML HERE -->
	</script>

	<script type="text/template" id="items-template">
	  <div class="row-body">
		<div class="row-title">ITEMS</div>
		<hr/>
		<div class="items-list-container">
		  <div class="item-list"></div>
		</div>
		<hr/>
	  </div>
	</script>

	<script type="text/template" id="item-template">
	  <div class="card-header">
		<div class="card-title"><%= name %></div>
		<div class="card-desc"><%= description %></div>
	  </div>
	  <hr/>
	  <div class="card-body">
		<div class="item-image">
		  <!-- <img src="" /> -->
		</div>
		<span class="item-quantity"><%= quantity %></span>
		<span class="item-units"><%= units %></span>
	  </div>
	  <div class="card-footer">

	  </div>
	</script>

	<script type="text/template" id="add-menu-template">
	  <div class="card-header">
		<div class="card-title">Add to Account</div>
	  </div>
	  <div class="card-body">
		<ul id="add-menu-options">
		  <li class="add-item">+ Ingredient</li>
		  <li class="add-recipe">+ Recipe</li>
		  <li class="add-stock">+ Stock</li>
		  <li class="add-sale">+ Sale</li>
		</ul>
	  </div>
	  <div class="card-footer"></div>
	</script>

	<script type="text/template" id="item-modal-template">
	  <div class="card-header">
		<div class="card-title"><%= name %></div>
	  </div>
	  <div class="card-body">
		<div class="item-image">
		  <!-- <img src="" /> -->
		</div>
		<div class="item-quantity">Quantity: <%= quantity %></div>
		<div class="item-units">Units: <%= units %></div>
		<div class="item-price">Price: <%= price %></div>
	  </div>
	  <div class="card-footer">

	  </div>
	</script>

	<script type="text/template" id="new-item-template">
	  <div class="card-header">
		<div class="card-title">Add New Item</div>
	  </div>
	  <div class="card-body">
		<div class="new-model-form-container">
		  <form class="new-model-form" id="new-item-form">
			<span class="madlib-row">
			  I bought <input type="text" name="item-quantity"
			  placeholder="0"/> <input type="text" name="item-units"
			  placeholder="lbs"\> of
			</span>
			<br/>
			<span class="madlib-row">
			  <input type="text" name="item-name"
			  placeholder="Ingredient Name"/>
			</span>
			<br/>
			<span class="madlib-row">
			  for $<input type="text" name="item-price" placeholder="--.--"/>
			</span>
			<br/>
			<span class="madlib-row">
			  These expire on <input type="text"
			  name="item-shelf-life" placeholder="MM/DD/YYYY"/>
			</span>
			<br/>
			<span class="madlib-row">
			  I bought this from:<br/>
			  <input type="text" name="item-supplier"
			  placeholder="Name of supplier"/>
			</span>
			<br/>
			<span class="madlib-row">
			  <input type="email" name="item-supplier-email"
			  placeholder="Purchasing email address"/>
			</span>
			<input type="submit" value="Save"/>
		  </form>
		</div>
	  </div>
	</script>

	<script type="text/template" id="signup-success-template">
	  <div class="modal-header">
		<div class="modal-title">Success!</div>
	  </div>
	  <div class="modal-body">
		<p>
		  You successfully signed up for a Bareo account!<br/>
		  Our web app is currently under heavy construction, but if
		  you have an iPhone or iPad, let us know
		  at <a href="mailto:talk@bareo.io">talk@bareo.io</a> and we
		  will get you into our Bareo Beta.<br/> Otherwise, we'll keep
		  you up to date with when the web app is available.<br/>
		</p>
		<div class="modal-button one-wide">Okay</div>
	  </div>
	</script>
	<!--
	<script type="text/template" id="account-template">
	  <div class="col-header">
		<div class="col-header-button" id="new-sale-button">new sale</div>
	  </div>
	  <div class="col-body">

	  </div>
	</script>

	<script type="text/template" id="store-template">
	  <div class="col-header">
		<div class="col-header-button" id="new-sale-button">new sale</div>
	  </div>
	  <div class="col-body">

	  </div>
	</script>

	<script type="text/template" id="recipes-template">
	  <div class="col-header">
		<div class="col-header-button" id="new-sale-button">new sale</div>
	  </div>
	  <div class="col-body">

	  </div>
	</script>
	-->

	<!-- End JS View Templates -->

	<!-- Load External JS -->
	<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
	<script src="static/bareo-app.js"></script>
	<!-- End external JS -->

	<!-- Load External CSS -->
	<link rel="stylesheet" type="text/css" href="static/bareo-app.css"/>
	<!-- End external CSS -->
  </body>
</html>
