body {
	padding: 0px;
	margin: 0px;
}

#modal-background {
	display: none;
	opacity: .75;
	background: white;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	padding: 0px;
	margin: 0px;
	z-index: 100;
}

#modal-container {
	display: none;
	position: absolute;
	opacity: 1;
	background: white;
	border: 1px solid @color-black;
	border-radius: 2px;
	width: 50%;
	height: auto;
	max-height: 80%;
	margin-left: 25%;
	margin-top: 10%;
	overflow-y: scroll;
	overflow-x: hidden;
	z-index: 110;
	box-shadow: 10px 5px 5px black;

	&.narrow {
		width: 25%;
		margin-left: 37.5%;	
	}
	
	.x-button {
		position: relative;
		float: right;
		margin-right: 5px;
		margin-top: 5px;
		font-weight: bold;
		cursor: pointer;
		z-index: 1;
	}
}

#footer-container {
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	width: 100%;
	height: 30px;
	background: @color-blue;
	color: @color-white;

	.left-footer-container {
		position: relative;
		height: 100%;
		width: 50%;
		float: left;
		line-height: 100%;
	}

	.right-footer-container {
		position: relative;
		heigh: 100%;
		width: 50%;
		float: right;
		text-align: right;
		line-height: 100%;

		span {
			font-size: 30px;
			line-height: 30px;
			margin-right: 5px;
			cursor: pointer;
		}
	}
}

#header-container {
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 30px;
	background: @color-blue;

	.left-header-container {
		position: relative;
		height: 100%;
		width: 50%;
		float: left;
		line-height: 100%;
		color: @color-white;

		a {
			color: @color-white;
			text-decoration: none;
			height: 100%;
			width: auto;
			line-height: 100%;
			img {
				height: 100%;
				width: auto
			}
		}
	}

	.right-header-container {
		position: relative;
		heigh: 100%;
		width: 50%;
		float: right;
		text-align: right;
		line-height: 100%;
		color: @color-white;

		a {
			color: @color-white;
			text-decoration: none;
			height: 100%;
			width: auto;
			line-height: 100%;
		}

		span {
		    cursor: pointer;
		}
	}

}

#add-menu-options {
	width: 100%;
	text-align: center;
	list-style: none;

	li {
		cursor: pointer;
		border: 1px solid @color-black;
		width: auto;
	}
}

#menu-container {
	position: absolute;
	top: 100px;
	left: 0px;
	width: 20%;
	bottom: 0px;
	background: @color-lightgray;

	.menu-item {
		cursor: pointer;
		width: 100%;
		font-size: 1.25em;
		padding-left: 10%;
	}

	.menu-title {
		width: 100%;
		font-size: 1.5em;
		padding-left: 5%;
	}
}

#login-container {
    position: absolute;
	top: 0px;
	width: 100%;
	left: 0px;
	height: 100%;
	background-image: url("images/signup_extendedback.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 4px;
	text-align: left;
	z-index: 101;
	
	#login-form-header {
		position: absolute;
		background-color: @color-blue;
		width: 100%;
		left: 0px;
		height: 30px;
		top: 0px;
		z-index: 1000;
		line-height: 30px;
		color: white;

		div {
			height: 100%;
			width: 45%;
			float: left;
			margin-left: 1%;
			margin-top: 0px;
			margin-bottom: 0px;
			padding: 0px;
			list-style: none;
			text-align: left;
			font-size: .75em;

			span {
				margin: 0px;
				padding: 0px;
				text-align: left;
				display: inline;
			}
		}
		
		#social_links {
			float: right;
			margin-left:0px;
			margin-right: 5%;

			span {
				float: right;
				height: 100%;
			}
		}
		
		span a {
			color: white;
			text-decoration: none;
			font-weight: bold;
			font-family: "proxima-nova";
		}

		a {
			height: 100%;
			margin-right: 2%;

			img {
				height: 70%;
				margin-top:15%;
				margin-right: 5px;
			}
		}
	}

	.login-col {
		position: relative;
		width: 40%;
		height: 100%;
		margin-left: 5%;
		margin-top: 25px;

		.form-header {
			position: relative;
			width: 100%;
			margin-lift: 5%;
			margin-top: 25px;
			margin-bottom: 25px;
			color: @color-black;
			font-size: 1.75em;
		}
		
		.form-line {
			postion: relative;
			width: 100%;
			text-align: left;
			height: auto;
			margin: 5px 0px;
			
			&.small {
				font-height: .5em;
			}

			&.right {
				
			}
		}
		
		input:not([type='submit']) {
			opacity: 1;
			width: auto;
			border: solid 1px @color-white;
			border-radius: 5px;
			color: @color-black;
			font-weight: bold;
			cursor: pointer;
			background: @color-white;
			text-align: left;
			padding: 5px 0px 5px 5px;
		}
		
		input[type='submit'] {
			position: relative;
			width: 25%;
			left: 0px;
			background: @color-darkgray;
			color: white;
			border: none;
			border-radius: 5px;
			height: 35px;
		}

		label {

		}
		
		img {
			width: 35%;
			height: auto;
			left: -5%;
			position: relative;
			margin-bottom: 30px;
		}
	}

	#login-form-right {
		float: right;
	}

	#signup-form-right {
		display: none;
		float: right;
	}
}

#content-container {
	position: absolute;
	height: 95%;
	top: 30px;
	width: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
}

#items-container,
#recipes-container,
#stocks-container {
	position: relative;
	width: 100%;
	margin-bottom: 25px;
	padding: 0px;
}

.row-body {
	position: relative;
	width: 100%;
	height: auto;
	padding: 0px;
	margin: 0px;

	hr {
		padding: none;
		margin: none;
		backgroud: none;
		border: solid 1px @color-black;
	}
	
	.row-title {
		position: relative;
		width: 100%;
		height: 35px;
		padding: 0px;
		margin: 0px;
		
		.col-header-button {
			cursor: pointer;
			position: relative;
			color: white;
			background: @color-lightgray;
			display: inline-block;
			text-align: center;
			font-size: 1.5em;
			width: 45%;
			height: 50px;
			line-height: 50px;
		}
	}
}

.card {	
	&.minimized {
		position: relative;
		width: 200px;
		height: 200px;
		padding: 10px;
		margin: 25px;
		box-shadow: 10px 5px 5px black;
	}
	&:not(.minimized) {
		position: absolute;
		width: 50%;
		margin-right: 25%;
		height: 80%;
		margin-top: 10%;
		float: right;
		box-shadow: 10px 5px 5px black;
		top: 0px;		
	}

	border: 1px solid @color-black;
	border-radius: 2px;
	display: inline-block;
	cursor: pointer;
	
	.card-header {
		width: 100%;
		height: auto;
		.card-title {
			width: 100%;
			text-align: center;
			font-weight: bold;
		}
		.card-desc {
			width: 100%;
			text-align: center;
		}
	}

	.card-body {
		text-align: center;
		width: 100%;
		height: auto;
	}

	.card-footer {

	}
	
	&.item-card {

	}

	&.recipe-card {

	}

	&.stock-card {

	}
}

.modal-header {
	position: relative;
	display: block;
	width: 100%;
	
	.modal-title {
		text-align: center;
		font-weight: bold;
		font-height: 2em;
	}
}

.modal-body {
	position: relative;
	display: block;
	width: 100%;
	
	.modal-button {
		cursor: pointer;
		background: @color-darkgray;
		color: @color-white;
		font-size: 1em;
		line-height: 1em;
		height: 35px;
		margin-top: 5px;
		margin-bottom: 5px;
		text-align: center;
		border: none;
		border-radius: 5px;
		padding: 10px 0px;
		
		&.one-wide {
			width: 50%;
			margin-left: 25%;
			margin-right: 0px;
		}
	}
}
