body {
  padding: 0px;
  margin: 0px;
}
#modal-background {
  display: none;
  opacity: .75;
  background: white;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 0px;
  margin: 0px;
  z-index: 100;
}
#modal-container {
  display: none;
  position: absolute;
  opacity: 1;
  background: white;
  border: 1px solid #000000;
  border-radius: 2px;
  width: 50%;
  height: auto;
  max-height: 80%;
  margin-left: 25%;
  margin-top: 10%;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 110;
  box-shadow: 10px 5px 5px black;
}
#modal-container.narrow {
  width: 25%;
  margin-left: 37.5%;
}
#modal-container .x-button {
  position: relative;
  float: right;
  margin-right: 5px;
  margin-top: 5px;
  font-weight: bold;
  cursor: pointer;
  z-index: 1;
}
#footer-container {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 30px;
  background: #2003fe;
  color: #efefef;
}
#footer-container .left-footer-container {
  position: relative;
  height: 100%;
  width: 50%;
  float: left;
  line-height: 100%;
}
#footer-container .right-footer-container {
  position: relative;
  heigh: 100%;
  width: 50%;
  float: right;
  text-align: right;
  line-height: 100%;
}
#footer-container .right-footer-container span {
  font-size: 30px;
  line-height: 30px;
  margin-right: 5px;
  cursor: pointer;
}
#header-container {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 30px;
  background: #2003fe;
}
#header-container .left-header-container {
  position: relative;
  height: 100%;
  width: 50%;
  float: left;
  line-height: 100%;
  color: #efefef;
}
#header-container .left-header-container a {
  color: #efefef;
  text-decoration: none;
  height: 100%;
  width: auto;
  line-height: 100%;
}
#header-container .left-header-container a img {
  height: 100%;
  width: auto;
}
#header-container .right-header-container {
  position: relative;
  heigh: 100%;
  width: 50%;
  float: right;
  text-align: right;
  line-height: 100%;
  color: #efefef;
}
#header-container .right-header-container a {
  color: #efefef;
  text-decoration: none;
  height: 100%;
  width: auto;
  line-height: 100%;
}
#header-container .right-header-container span {
  cursor: pointer;
}
#add-menu-options {
  width: 100%;
  text-align: center;
  list-style: none;
}
#add-menu-options li {
  cursor: pointer;
  border: 1px solid #000000;
  width: auto;
}
#menu-container {
  position: absolute;
  top: 100px;
  left: 0px;
  width: 20%;
  bottom: 0px;
  background: #d1d0ce;
}
#menu-container .menu-item {
  cursor: pointer;
  width: 100%;
  font-size: 1.25em;
  padding-left: 10%;
}
#menu-container .menu-title {
  width: 100%;
  font-size: 1.5em;
  padding-left: 5%;
}
#login-container {
  position: absolute;
  top: 0px;
  width: 100%;
  left: 0px;
  height: 100%;
  background-image: url("images/signup_extendedback.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 4px;
  text-align: left;
  z-index: 101;
}
#login-container #login-form-header {
  position: absolute;
  background-color: #2003fe;
  width: 100%;
  left: 0px;
  height: 30px;
  top: 0px;
  z-index: 1000;
  line-height: 30px;
  color: white;
}
#login-container #login-form-header div {
  height: 100%;
  width: 45%;
  float: left;
  margin-left: 1%;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  list-style: none;
  text-align: left;
  font-size: .75em;
}
#login-container #login-form-header div span {
  margin: 0px;
  padding: 0px;
  text-align: left;
  display: inline;
}
#login-container #login-form-header #social_links {
  float: right;
  margin-left: 0px;
  margin-right: 5%;
}
#login-container #login-form-header #social_links span {
  float: right;
  height: 100%;
}
#login-container #login-form-header span a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-family: "proxima-nova";
}
#login-container #login-form-header a {
  height: 100%;
  margin-right: 2%;
}
#login-container #login-form-header a img {
  height: 70%;
  margin-top: 15%;
  margin-right: 5px;
}
#login-container .login-col {
  position: relative;
  width: 40%;
  height: 100%;
  margin-left: 5%;
  margin-top: 25px;
}
#login-container .login-col .form-header {
  position: relative;
  width: 100%;
  margin-lift: 5%;
  margin-top: 25px;
  margin-bottom: 25px;
  color: #000000;
  font-size: 1.75em;
}
#login-container .login-col .form-line {
  postion: relative;
  width: 100%;
  text-align: left;
  height: auto;
  margin: 5px 0px;
}
#login-container .login-col .form-line.small {
  font-height: .5em;
}
#login-container .login-col input:not([type='submit']) {
  opacity: 1;
  width: auto;
  border: solid 1px #efefef;
  border-radius: 5px;
  color: #000000;
  font-weight: bold;
  cursor: pointer;
  background: #efefef;
  text-align: left;
  padding: 5px 0px 5px 5px;
}
#login-container .login-col input[type='submit'] {
  position: relative;
  width: 25%;
  left: 0px;
  background: #848482;
  color: white;
  border: none;
  border-radius: 5px;
  height: 35px;
}
#login-container .login-col img {
  width: 35%;
  height: auto;
  left: -5%;
  position: relative;
  margin-bottom: 30px;
}
#login-container #login-form-right {
  float: right;
}
#login-container #signup-form-right {
  display: none;
  float: right;
}
#content-container {
  position: absolute;
  height: 95%;
  top: 30px;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
#items-container,
#recipes-container,
#stocks-container {
  position: relative;
  width: 100%;
  margin-bottom: 25px;
  padding: 0px;
}
.row-body {
  position: relative;
  width: 100%;
  height: auto;
  padding: 0px;
  margin: 0px;
}
.row-body hr {
  padding: none;
  margin: none;
  backgroud: none;
  border: solid 1px #000000;
}
.row-body .row-title {
  position: relative;
  width: 100%;
  height: 35px;
  padding: 0px;
  margin: 0px;
}
.row-body .row-title .col-header-button {
  cursor: pointer;
  position: relative;
  color: white;
  background: #d1d0ce;
  display: inline-block;
  text-align: center;
  font-size: 1.5em;
  width: 45%;
  height: 50px;
  line-height: 50px;
}
.card {
  border: 1px solid #000000;
  border-radius: 2px;
  display: inline-block;
  cursor: pointer;
}
.card.minimized {
  position: relative;
  width: 200px;
  height: 200px;
  padding: 10px;
  margin: 25px;
  box-shadow: 10px 5px 5px black;
}
.card:not(.minimized) {
  position: absolute;
  width: 50%;
  margin-right: 25%;
  height: 80%;
  margin-top: 10%;
  float: right;
  box-shadow: 10px 5px 5px black;
  top: 0px;
}
.card .card-header {
  width: 100%;
  height: auto;
}
.card .card-header .card-title {
  width: 100%;
  text-align: center;
  font-weight: bold;
}
.card .card-header .card-desc {
  width: 100%;
  text-align: center;
}
.card .card-body {
  text-align: center;
  width: 100%;
  height: auto;
}
.modal-header {
  position: relative;
  display: block;
  width: 100%;
}
.modal-header .modal-title {
  text-align: center;
  font-weight: bold;
  font-height: 2em;
}
.modal-body {
  position: relative;
  display: block;
  width: 100%;
}
.modal-body .modal-button {
  cursor: pointer;
  background: #848482;
  color: #efefef;
  font-size: 1em;
  line-height: 1em;
  height: 35px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  border: none;
  border-radius: 5px;
  padding: 10px 0px;
}
.modal-body .modal-button.one-wide {
  width: 50%;
  margin-left: 25%;
  margin-right: 0px;
}
#app-container {
  width: 100%;
  height: auto;
  display: relative;
}
.state-hidden {
  display: none;
}
