body {
  padding: 0px;
  margin: 0px;
}
#modal-background {
  display: none;
  opacity: .75;
  background: white;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 0px;
  margin: 0px;
  z-index: 100;
}
#modal-container {
  display: none;
  position: absolute;
  opacity: 1;
  background: white;
  border: 1px solid #000000;
  border-radius: 2px;
  width: 50%;
  height: auto;
  max-height: 80%;
  margin-left: 25%;
  margin-top: 10%;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 110;
  box-shadow: 10px 5px 5px black;
}
#modal-container.narrow {
  width: 25%;
  margin-left: 37.5%;
}
#modal-container .x-button {
  position: relative;
  float: right;
  margin-right: 5px;
  margin-top: 5px;
  font-weight: bold;
  cursor: pointer;
  z-index: 1;
}
#footer-container {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 30px;
  background: #2003fe;
  color: #efefef;
}
#footer-container .left-footer-container {
  position: relative;
  height: 100%;
  width: 50%;
  float: left;
  line-height: 100%;
}
#footer-container .right-footer-container {
  position: relative;
  heigh: 100%;
  width: 50%;
  float: right;
  text-align: right;
  line-height: 100%;
}
#footer-container .right-footer-container span {
  font-size: 30px;
  line-height: 30px;
  margin-right: 5px;
  cursor: pointer;
}
#header-container {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 30px;
  background: #2003fe;
}
#header-container .left-header-container {
  position: relative;
  height: 100%;
  width: 50%;
  float: left;
  line-height: 100%;
  color: #efefef;
}
#header-container .left-header-container a {
  color: #efefef;
  text-decoration: none;
  height: 100%;
  width: auto;
  line-height: 100%;
}
#header-container .left-header-container a img {
  height: 100%;
  width: auto;
}
#header-container .right-header-container {
  position: relative;
  heigh: 100%;
  width: 50%;
  float: right;
  text-align: right;
  line-height: 100%;
  color: #efefef;
}
#header-container .right-header-container a {
  color: #efefef;
  text-decoration: none;
  height: 100%;
  width: auto;
  line-height: 100%;
}
#header-container .right-header-container span {
  cursor: pointer;
}
#add-menu-options {
  width: 100%;
  text-align: center;
  list-style: none;
}
#add-menu-options li {
  cursor: pointer;
  border: 1px solid #000000;
  width: auto;
}
#menu-container {
  position: absolute;
  top: 100px;
  left: 0px;
  width: 20%;
  bottom: 0px;
  background: #D1D0CE;
}
#menu-container .menu-item {
  cursor: pointer;
  width: 100%;
  font-size: 1.25em;
  padding-left: 10%;
}
#menu-container .menu-title {
  width: 100%;
  font-size: 1.5em;
  padding-left: 5%;
}
#login-container {
  position: absolute;
  top: 0px;
  width: 100%;
  left: 0px;
  height: 100%;
  background-image: url("images/signup_extendedback.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 4px;
  text-align: left;
  z-index: 101;
}
#login-container #login-form-header {
  position: absolute;
  background-color: #2003fe;
  width: 100%;
  left: 0px;
  height: 30px;
  top: 0px;
  z-index: 1000;
  line-height: 30px;
  color: white;
}
#login-container #login-form-header div {
  height: 100%;
  width: 45%;
  float: left;
  margin-left: 1%;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  list-style: none;
  text-align: left;
  font-size: .75em;
}
#login-container #login-form-header div span {
  margin: 0px;
  padding: 0px;
  text-align: left;
  display: inline;
}
#login-container #login-form-header #social_links {
  float: right;
  margin-left: 0px;
  margin-right: 5%;
}
#login-container #login-form-header #social_links span {
  float: right;
  height: 100%;
}
#login-container #login-form-header span a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-family: "proxima-nova";
}
#login-container #login-form-header a {
  height: 100%;
  margin-right: 2%;
}
#login-container #login-form-header a img {
  height: 70%;
  margin-top: 15%;
  margin-right: 5px;
}
#login-container .login-col {
  position: relative;
  width: 40%;
  height: 100%;
  margin-left: 5%;
  margin-top: 25px;
}
#login-container .login-col .form-header {
  position: relative;
  width: 100%;
  margin-lift: 5%;
  margin-top: 25px;
  margin-bottom: 25px;
  color: #000000;
  font-size: 1.75em;
}
#login-container .login-col .form-line {
  postion: relative;
  width: 100%;
  text-align: left;
  height: auto;
  margin: 5px 0px;
}
#login-container .login-col .form-line.small {
  font-height: .5em;
}
#login-container .login-col input:not([type='submit']) {
  opacity: 1;
  width: auto;
  border: solid 1px #efefef;
  border-radius: 5px;
  color: #000000;
  font-weight: bold;
  cursor: pointer;
  background: #efefef;
  text-align: left;
  padding: 5px 0px 5px 5px;
}
#login-container .login-col input[type='submit'] {
  position: relative;
  width: 25%;
  left: 0px;
  background: #848482;
  color: white;
  border: none;
  border-radius: 5px;
  height: 35px;
}
#login-container .login-col img {
  width: 35%;
  height: auto;
  left: -5%;
  position: relative;
  margin-bottom: 30px;
}
#login-container #login-form-right {
  float: right;
}
#login-container #signup-form-right {
  display: none;
  float: right;
}
#content-container {
  position: absolute;
  height: 95%;
  top: 30px;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
#items-container,
#recipes-container,
#stocks-container {
  position: relative;
  width: 100%;
  margin-bottom: 25px;
  padding: 0px;
}
.row-body {
  position: relative;
  width: 100%;
  height: auto;
  padding: 0px;
  margin: 0px;
}
.row-body hr {
  padding: none;
  margin: none;
  backgroud: none;
  border: solid 1px #000000;
}
.row-body .row-title {
  position: relative;
  width: 100%;
  height: 35px;
  padding: 0px;
  margin: 0px;
}
.row-body .row-title .col-header-button {
  cursor: pointer;
  position: relative;
  color: white;
  background: #D1D0CE;
  display: inline-block;
  text-align: center;
  font-size: 1.5em;
  width: 45%;
  height: 50px;
  line-height: 50px;
}
.card {
  border: 1px solid #000000;
  border-radius: 2px;
  display: inline-block;
  cursor: pointer;
}
.card.minimized {
  position: relative;
  width: 200px;
  height: 200px;
  padding: 10px;
  margin: 25px;
  box-shadow: 10px 5px 5px black;
}
.card:not(.minimized) {
  position: absolute;
  width: 50%;
  margin-right: 25%;
  height: 80%;
  margin-top: 10%;
  float: right;
  box-shadow: 10px 5px 5px black;
  top: 0px;
}
.card .card-header {
  width: 100%;
  height: auto;
}
.card .card-header .card-title {
  width: 100%;
  text-align: center;
  font-weight: bold;
}
.card .card-header .card-desc {
  width: 100%;
  text-align: center;
}
.card .card-body {
  text-align: center;
  width: 100%;
  height: auto;
}
.modal-header {
  position: relative;
  display: block;
  width: 100%;
}
.modal-header .modal-title {
  text-align: center;
  font-weight: bold;
  font-height: 2em;
}
.modal-body {
  position: relative;
  display: block;
  width: 100%;
}
.modal-body .modal-button {
  cursor: pointer;
  background: #848482;
  color: #efefef;
  font-size: 1em;
  line-height: 1em;
  height: 35px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  border: none;
  border-radius: 5px;
  padding: 10px 0px;
}
.modal-body .modal-button.one-wide {
  width: 50%;
  margin-left: 25%;
  margin-right: 0px;
}
#app-container {
  width: 100%;
  height: auto;
  display: relative;
}
.state-hidden {
  display: none;
}
/*!
 * Bootstrap v3.3.5 (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
.btn-default,
.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
}
.btn-default:active,
.btn-primary:active,
.btn-success:active,
.btn-info:active,
.btn-warning:active,
.btn-danger:active,
.btn-default.active,
.btn-primary.active,
.btn-success.active,
.btn-info.active,
.btn-warning.active,
.btn-danger.active {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn-default.disabled,
.btn-primary.disabled,
.btn-success.disabled,
.btn-info.disabled,
.btn-warning.disabled,
.btn-danger.disabled,
.btn-default[disabled],
.btn-primary[disabled],
.btn-success[disabled],
.btn-info[disabled],
.btn-warning[disabled],
.btn-danger[disabled],
fieldset[disabled] .btn-default,
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-success,
fieldset[disabled] .btn-info,
fieldset[disabled] .btn-warning,
fieldset[disabled] .btn-danger {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.btn-default .badge,
.btn-primary .badge,
.btn-success .badge,
.btn-info .badge,
.btn-warning .badge,
.btn-danger .badge {
  text-shadow: none;
}
.btn:active,
.btn.active {
  background-image: none;
}
.btn-default {
  text-shadow: 0 1px 0 #fff;
  background-image: -webkit-linear-gradient(top, #fff 0%, #e0e0e0 100%);
  background-image:      -o-linear-gradient(top, #fff 0%, #e0e0e0 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e0e0e0));
  background-image:         linear-gradient(to bottom, #fff 0%, #e0e0e0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #dbdbdb;
  border-color: #ccc;
}
.btn-default:hover,
.btn-default:focus {
  background-color: #e0e0e0;
  background-position: 0 -15px;
}
.btn-default:active,
.btn-default.active {
  background-color: #e0e0e0;
  border-color: #dbdbdb;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #e0e0e0;
  background-image: none;
}
.btn-primary {
  background-image: -webkit-linear-gradient(top, #337ab7 0%, #265a88 100%);
  background-image:      -o-linear-gradient(top, #337ab7 0%, #265a88 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#337ab7), to(#265a88));
  background-image:         linear-gradient(to bottom, #337ab7 0%, #265a88 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff265a88', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #245580;
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: #265a88;
  background-position: 0 -15px;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #265a88;
  border-color: #245580;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #265a88;
  background-image: none;
}
.btn-success {
  background-image: -webkit-linear-gradient(top, #5cb85c 0%, #419641 100%);
  background-image:      -o-linear-gradient(top, #5cb85c 0%, #419641 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5cb85c), to(#419641));
  background-image:         linear-gradient(to bottom, #5cb85c 0%, #419641 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff419641', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #3e8f3e;
}
.btn-success:hover,
.btn-success:focus {
  background-color: #419641;
  background-position: 0 -15px;
}
.btn-success:active,
.btn-success.active {
  background-color: #419641;
  border-color: #3e8f3e;
}
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled.focus,
.btn-success[disabled].focus,
fieldset[disabled] .btn-success.focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: #419641;
  background-image: none;
}
.btn-info {
  background-image: -webkit-linear-gradient(top, #5bc0de 0%, #2aabd2 100%);
  background-image:      -o-linear-gradient(top, #5bc0de 0%, #2aabd2 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5bc0de), to(#2aabd2));
  background-image:         linear-gradient(to bottom, #5bc0de 0%, #2aabd2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2aabd2', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #28a4c9;
}
.btn-info:hover,
.btn-info:focus {
  background-color: #2aabd2;
  background-position: 0 -15px;
}
.btn-info:active,
.btn-info.active {
  background-color: #2aabd2;
  border-color: #28a4c9;
}
.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled.focus,
.btn-info[disabled].focus,
fieldset[disabled] .btn-info.focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
  background-color: #2aabd2;
  background-image: none;
}
.btn-warning {
  background-image: -webkit-linear-gradient(top, #f0ad4e 0%, #eb9316 100%);
  background-image:      -o-linear-gradient(top, #f0ad4e 0%, #eb9316 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f0ad4e), to(#eb9316));
  background-image:         linear-gradient(to bottom, #f0ad4e 0%, #eb9316 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0ad4e', endColorstr='#ffeb9316', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #e38d13;
}
.btn-warning:hover,
.btn-warning:focus {
  background-color: #eb9316;
  background-position: 0 -15px;
}
.btn-warning:active,
.btn-warning.active {
  background-color: #eb9316;
  border-color: #e38d13;
}
.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled.focus,
.btn-warning[disabled].focus,
fieldset[disabled] .btn-warning.focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
  background-color: #eb9316;
  background-image: none;
}
.btn-danger {
  background-image: -webkit-linear-gradient(top, #d9534f 0%, #c12e2a 100%);
  background-image:      -o-linear-gradient(top, #d9534f 0%, #c12e2a 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d9534f), to(#c12e2a));
  background-image:         linear-gradient(to bottom, #d9534f 0%, #c12e2a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9534f', endColorstr='#ffc12e2a', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #b92c28;
}
.btn-danger:hover,
.btn-danger:focus {
  background-color: #c12e2a;
  background-position: 0 -15px;
}
.btn-danger:active,
.btn-danger.active {
  background-color: #c12e2a;
  border-color: #b92c28;
}
.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled.focus,
.btn-danger[disabled].focus,
fieldset[disabled] .btn-danger.focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
  background-color: #c12e2a;
  background-image: none;
}
.thumbnail,
.img-thumbnail {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .075);
          box-shadow: 0 1px 2px rgba(0, 0, 0, .075);
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-color: #e8e8e8;
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
  background-image:      -o-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e8e8e8));
  background-image:         linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
  background-repeat: repeat-x;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background-color: #2e6da4;
  background-image: -webkit-linear-gradient(top, #337ab7 0%, #2e6da4 100%);
  background-image:      -o-linear-gradient(top, #337ab7 0%, #2e6da4 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#337ab7), to(#2e6da4));
  background-image:         linear-gradient(to bottom, #337ab7 0%, #2e6da4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff2e6da4', GradientType=0);
  background-repeat: repeat-x;
}
.navbar-default {
  background-image: -webkit-linear-gradient(top, #fff 0%, #f8f8f8 100%);
  background-image:      -o-linear-gradient(top, #fff 0%, #f8f8f8 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f8f8f8));
  background-image:         linear-gradient(to bottom, #fff 0%, #f8f8f8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff8f8f8', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .active > a {
  background-image: -webkit-linear-gradient(top, #dbdbdb 0%, #e2e2e2 100%);
  background-image:      -o-linear-gradient(top, #dbdbdb 0%, #e2e2e2 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dbdbdb), to(#e2e2e2));
  background-image:         linear-gradient(to bottom, #dbdbdb 0%, #e2e2e2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdbdbdb', endColorstr='#ffe2e2e2', GradientType=0);
  background-repeat: repeat-x;
  -webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, .075);
          box-shadow: inset 0 3px 9px rgba(0, 0, 0, .075);
}
.navbar-brand,
.navbar-nav > li > a {
  text-shadow: 0 1px 0 rgba(255, 255, 255, .25);
}
.navbar-inverse {
  background-image: -webkit-linear-gradient(top, #3c3c3c 0%, #222 100%);
  background-image:      -o-linear-gradient(top, #3c3c3c 0%, #222 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3c3c3c), to(#222));
  background-image:         linear-gradient(to bottom, #3c3c3c 0%, #222 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222222', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-radius: 4px;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .active > a {
  background-image: -webkit-linear-gradient(top, #080808 0%, #0f0f0f 100%);
  background-image:      -o-linear-gradient(top, #080808 0%, #0f0f0f 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#080808), to(#0f0f0f));
  background-image:         linear-gradient(to bottom, #080808 0%, #0f0f0f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff080808', endColorstr='#ff0f0f0f', GradientType=0);
  background-repeat: repeat-x;
  -webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, .25);
          box-shadow: inset 0 3px 9px rgba(0, 0, 0, .25);
}
.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
}
.navbar-static-top,
.navbar-fixed-top,
.navbar-fixed-bottom {
  border-radius: 0;
}
@media (max-width: 767px) {
  .navbar .navbar-nav .open .dropdown-menu > .active > a,
  .navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fff;
    background-image: -webkit-linear-gradient(top, #337ab7 0%, #2e6da4 100%);
    background-image:      -o-linear-gradient(top, #337ab7 0%, #2e6da4 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#337ab7), to(#2e6da4));
    background-image:         linear-gradient(to bottom, #337ab7 0%, #2e6da4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff2e6da4', GradientType=0);
    background-repeat: repeat-x;
  }
}
.alert {
  text-shadow: 0 1px 0 rgba(255, 255, 255, .2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .25), 0 1px 2px rgba(0, 0, 0, .05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, .25), 0 1px 2px rgba(0, 0, 0, .05);
}
.alert-success {
  background-image: -webkit-linear-gradient(top, #dff0d8 0%, #c8e5bc 100%);
  background-image:      -o-linear-gradient(top, #dff0d8 0%, #c8e5bc 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dff0d8), to(#c8e5bc));
  background-image:         linear-gradient(to bottom, #dff0d8 0%, #c8e5bc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdff0d8', endColorstr='#ffc8e5bc', GradientType=0);
  background-repeat: repeat-x;
  border-color: #b2dba1;
}
.alert-info {
  background-image: -webkit-linear-gradient(top, #d9edf7 0%, #b9def0 100%);
  background-image:      -o-linear-gradient(top, #d9edf7 0%, #b9def0 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d9edf7), to(#b9def0));
  background-image:         linear-gradient(to bottom, #d9edf7 0%, #b9def0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9edf7', endColorstr='#ffb9def0', GradientType=0);
  background-repeat: repeat-x;
  border-color: #9acfea;
}
.alert-warning {
  background-image: -webkit-linear-gradient(top, #fcf8e3 0%, #f8efc0 100%);
  background-image:      -o-linear-gradient(top, #fcf8e3 0%, #f8efc0 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fcf8e3), to(#f8efc0));
  background-image:         linear-gradient(to bottom, #fcf8e3 0%, #f8efc0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcf8e3', endColorstr='#fff8efc0', GradientType=0);
  background-repeat: repeat-x;
  border-color: #f5e79e;
}
.alert-danger {
  background-image: -webkit-linear-gradient(top, #f2dede 0%, #e7c3c3 100%);
  background-image:      -o-linear-gradient(top, #f2dede 0%, #e7c3c3 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f2dede), to(#e7c3c3));
  background-image:         linear-gradient(to bottom, #f2dede 0%, #e7c3c3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2dede', endColorstr='#ffe7c3c3', GradientType=0);
  background-repeat: repeat-x;
  border-color: #dca7a7;
}
.progress {
  background-image: -webkit-linear-gradient(top, #ebebeb 0%, #f5f5f5 100%);
  background-image:      -o-linear-gradient(top, #ebebeb 0%, #f5f5f5 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(#f5f5f5));
  background-image:         linear-gradient(to bottom, #ebebeb 0%, #f5f5f5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffebebeb', endColorstr='#fff5f5f5', GradientType=0);
  background-repeat: repeat-x;
}
.progress-bar {
  background-image: -webkit-linear-gradient(top, #337ab7 0%, #286090 100%);
  background-image:      -o-linear-gradient(top, #337ab7 0%, #286090 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#337ab7), to(#286090));
  background-image:         linear-gradient(to bottom, #337ab7 0%, #286090 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff286090', GradientType=0);
  background-repeat: repeat-x;
}
.progress-bar-success {
  background-image: -webkit-linear-gradient(top, #5cb85c 0%, #449d44 100%);
  background-image:      -o-linear-gradient(top, #5cb85c 0%, #449d44 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5cb85c), to(#449d44));
  background-image:         linear-gradient(to bottom, #5cb85c 0%, #449d44 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff449d44', GradientType=0);
  background-repeat: repeat-x;
}
.progress-bar-info {
  background-image: -webkit-linear-gradient(top, #5bc0de 0%, #31b0d5 100%);
  background-image:      -o-linear-gradient(top, #5bc0de 0%, #31b0d5 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5bc0de), to(#31b0d5));
  background-image:         linear-gradient(to bottom, #5bc0de 0%, #31b0d5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff31b0d5', GradientType=0);
  background-repeat: repeat-x;
}
.progress-bar-warning {
  background-image: -webkit-linear-gradient(top, #f0ad4e 0%, #ec971f 100%);
  background-image:      -o-linear-gradient(top, #f0ad4e 0%, #ec971f 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f0ad4e), to(#ec971f));
  background-image:         linear-gradient(to bottom, #f0ad4e 0%, #ec971f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0ad4e', endColorstr='#ffec971f', GradientType=0);
  background-repeat: repeat-x;
}
.progress-bar-danger {
  background-image: -webkit-linear-gradient(top, #d9534f 0%, #c9302c 100%);
  background-image:      -o-linear-gradient(top, #d9534f 0%, #c9302c 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d9534f), to(#c9302c));
  background-image:         linear-gradient(to bottom, #d9534f 0%, #c9302c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9534f', endColorstr='#ffc9302c', GradientType=0);
  background-repeat: repeat-x;
}
.progress-bar-striped {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}
.list-group {
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .075);
          box-shadow: 0 1px 2px rgba(0, 0, 0, .075);
}
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  text-shadow: 0 -1px 0 #286090;
  background-image: -webkit-linear-gradient(top, #337ab7 0%, #2b669a 100%);
  background-image:      -o-linear-gradient(top, #337ab7 0%, #2b669a 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#337ab7), to(#2b669a));
  background-image:         linear-gradient(to bottom, #337ab7 0%, #2b669a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff2b669a', GradientType=0);
  background-repeat: repeat-x;
  border-color: #2b669a;
}
.list-group-item.active .badge,
.list-group-item.active:hover .badge,
.list-group-item.active:focus .badge {
  text-shadow: none;
}
.panel {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}
.panel-default > .panel-heading {
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
  background-image:      -o-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e8e8e8));
  background-image:         linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
  background-repeat: repeat-x;
}
.panel-primary > .panel-heading {
  background-image: -webkit-linear-gradient(top, #337ab7 0%, #2e6da4 100%);
  background-image:      -o-linear-gradient(top, #337ab7 0%, #2e6da4 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#337ab7), to(#2e6da4));
  background-image:         linear-gradient(to bottom, #337ab7 0%, #2e6da4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff2e6da4', GradientType=0);
  background-repeat: repeat-x;
}
.panel-success > .panel-heading {
  background-image: -webkit-linear-gradient(top, #dff0d8 0%, #d0e9c6 100%);
  background-image:      -o-linear-gradient(top, #dff0d8 0%, #d0e9c6 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dff0d8), to(#d0e9c6));
  background-image:         linear-gradient(to bottom, #dff0d8 0%, #d0e9c6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdff0d8', endColorstr='#ffd0e9c6', GradientType=0);
  background-repeat: repeat-x;
}
.panel-info > .panel-heading {
  background-image: -webkit-linear-gradient(top, #d9edf7 0%, #c4e3f3 100%);
  background-image:      -o-linear-gradient(top, #d9edf7 0%, #c4e3f3 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d9edf7), to(#c4e3f3));
  background-image:         linear-gradient(to bottom, #d9edf7 0%, #c4e3f3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9edf7', endColorstr='#ffc4e3f3', GradientType=0);
  background-repeat: repeat-x;
}
.panel-warning > .panel-heading {
  background-image: -webkit-linear-gradient(top, #fcf8e3 0%, #faf2cc 100%);
  background-image:      -o-linear-gradient(top, #fcf8e3 0%, #faf2cc 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fcf8e3), to(#faf2cc));
  background-image:         linear-gradient(to bottom, #fcf8e3 0%, #faf2cc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcf8e3', endColorstr='#fffaf2cc', GradientType=0);
  background-repeat: repeat-x;
}
.panel-danger > .panel-heading {
  background-image: -webkit-linear-gradient(top, #f2dede 0%, #ebcccc 100%);
  background-image:      -o-linear-gradient(top, #f2dede 0%, #ebcccc 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f2dede), to(#ebcccc));
  background-image:         linear-gradient(to bottom, #f2dede 0%, #ebcccc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2dede', endColorstr='#ffebcccc', GradientType=0);
  background-repeat: repeat-x;
}
.well {
  background-image: -webkit-linear-gradient(top, #e8e8e8 0%, #f5f5f5 100%);
  background-image:      -o-linear-gradient(top, #e8e8e8 0%, #f5f5f5 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e8e8e8), to(#f5f5f5));
  background-image:         linear-gradient(to bottom, #e8e8e8 0%, #f5f5f5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe8e8e8', endColorstr='#fff5f5f5', GradientType=0);
  background-repeat: repeat-x;
  border-color: #dcdcdc;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .05), 0 1px 0 rgba(255, 255, 255, .1);
          box-shadow: inset 0 1px 3px rgba(0, 0, 0, .05), 0 1px 0 rgba(255, 255, 255, .1);
}
/*# sourceMappingURL=bootstrap-theme.css.map */
body {
  padding: 0px;
  margin: 0px;
}
#modal-background {
  display: none;
  opacity: .75;
  background: white;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 0px;
  margin: 0px;
  z-index: 100;
}
#modal-container {
  display: none;
  position: absolute;
  opacity: 1;
  background: white;
  border: 1px solid #000000;
  border-radius: 2px;
  width: 50%;
  height: auto;
  max-height: 80%;
  margin-left: 25%;
  margin-top: 10%;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 110;
  box-shadow: 10px 5px 5px black;
}
#modal-container.narrow {
  width: 25%;
  margin-left: 37.5%;
}
#modal-container .x-button {
  position: relative;
  float: right;
  margin-right: 5px;
  margin-top: 5px;
  font-weight: bold;
  cursor: pointer;
  z-index: 1;
}
#footer-container {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 30px;
  background: #2003fe;
  color: #efefef;
}
#footer-container .left-footer-container {
  position: relative;
  height: 100%;
  width: 50%;
  float: left;
  line-height: 100%;
}
#footer-container .right-footer-container {
  position: relative;
  heigh: 100%;
  width: 50%;
  float: right;
  text-align: right;
  line-height: 100%;
}
#footer-container .right-footer-container span {
  font-size: 30px;
  line-height: 30px;
  margin-right: 5px;
  cursor: pointer;
}
#header-container {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 30px;
  background: #2003fe;
}
#header-container .left-header-container {
  position: relative;
  height: 100%;
  width: 50%;
  float: left;
  line-height: 100%;
  color: #efefef;
}
#header-container .left-header-container a {
  color: #efefef;
  text-decoration: none;
  height: 100%;
  width: auto;
  line-height: 100%;
}
#header-container .left-header-container a img {
  height: 100%;
  width: auto;
}
#header-container .right-header-container {
  position: relative;
  heigh: 100%;
  width: 50%;
  float: right;
  text-align: right;
  line-height: 100%;
  color: #efefef;
}
#header-container .right-header-container a {
  color: #efefef;
  text-decoration: none;
  height: 100%;
  width: auto;
  line-height: 100%;
}
#header-container .right-header-container span {
  cursor: pointer;
}
#add-menu-options {
  width: 100%;
  text-align: center;
  list-style: none;
}
#add-menu-options li {
  cursor: pointer;
  border: 1px solid #000000;
  width: auto;
}
#menu-container {
  position: absolute;
  top: 100px;
  left: 0px;
  width: 20%;
  bottom: 0px;
  background: #d1d0ce;
}
#menu-container .menu-item {
  cursor: pointer;
  width: 100%;
  font-size: 1.25em;
  padding-left: 10%;
}
#menu-container .menu-title {
  width: 100%;
  font-size: 1.5em;
  padding-left: 5%;
}
#login-container {
  position: absolute;
  top: 0px;
  width: 100%;
  left: 0px;
  height: 100%;
  background-image: url("images/signup_extendedback.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 4px;
  text-align: left;
  z-index: 101;
}
#login-container #login-form-header {
  position: absolute;
  background-color: #2003fe;
  width: 100%;
  left: 0px;
  height: 30px;
  top: 0px;
  z-index: 1000;
  line-height: 30px;
  color: white;
}
#login-container #login-form-header div {
  height: 100%;
  width: 45%;
  float: left;
  margin-left: 1%;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  list-style: none;
  text-align: left;
  font-size: .75em;
}
#login-container #login-form-header div span {
  margin: 0px;
  padding: 0px;
  text-align: left;
  display: inline;
}
#login-container #login-form-header #social_links {
  float: right;
  margin-left: 0px;
  margin-right: 5%;
}
#login-container #login-form-header #social_links span {
  float: right;
  height: 100%;
}
#login-container #login-form-header span a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-family: "proxima-nova";
}
#login-container #login-form-header a {
  height: 100%;
  margin-right: 2%;
}
#login-container #login-form-header a img {
  height: 70%;
  margin-top: 15%;
  margin-right: 5px;
}
#login-container .login-col {
  position: relative;
  width: 40%;
  height: 100%;
  margin-left: 5%;
  margin-top: 25px;
}
#login-container .login-col .form-header {
  position: relative;
  width: 100%;
  margin-lift: 5%;
  margin-top: 25px;
  margin-bottom: 25px;
  color: #000000;
  font-size: 1.75em;
}
#login-container .login-col .form-line {
  postion: relative;
  width: 100%;
  text-align: left;
  height: auto;
  margin: 5px 0px;
}
#login-container .login-col .form-line.small {
  font-height: .5em;
}
#login-container .login-col input:not([type='submit']) {
  opacity: 1;
  width: auto;
  border: solid 1px #efefef;
  border-radius: 5px;
  color: #000000;
  font-weight: bold;
  cursor: pointer;
  background: #efefef;
  text-align: left;
  padding: 5px 0px 5px 5px;
}
#login-container .login-col input[type='submit'] {
  position: relative;
  width: 25%;
  left: 0px;
  background: #848482;
  color: white;
  border: none;
  border-radius: 5px;
  height: 35px;
}
#login-container .login-col img {
  width: 35%;
  height: auto;
  left: -5%;
  position: relative;
  margin-bottom: 30px;
}
#login-container #login-form-right {
  float: right;
}
#login-container #signup-form-right {
  display: none;
  float: right;
}
#content-container {
  position: absolute;
  height: 95%;
  top: 30px;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
#items-container,
#recipes-container,
#stocks-container {
  position: relative;
  width: 100%;
  margin-bottom: 25px;
  padding: 0px;
}
.row-body {
  position: relative;
  width: 100%;
  height: auto;
  padding: 0px;
  margin: 0px;
}
.row-body hr {
  padding: none;
  margin: none;
  backgroud: none;
  border: solid 1px #000000;
}
.row-body .row-title {
  position: relative;
  width: 100%;
  height: 35px;
  padding: 0px;
  margin: 0px;
}
.row-body .row-title .col-header-button {
  cursor: pointer;
  position: relative;
  color: white;
  background: #d1d0ce;
  display: inline-block;
  text-align: center;
  font-size: 1.5em;
  width: 45%;
  height: 50px;
  line-height: 50px;
}
.card {
  border: 1px solid #000000;
  border-radius: 2px;
  display: inline-block;
  cursor: pointer;
}
.card.minimized {
  position: relative;
  width: 200px;
  height: 200px;
  padding: 10px;
  margin: 25px;
  box-shadow: 10px 5px 5px black;
}
.card:not(.minimized) {
  position: absolute;
  width: 50%;
  margin-right: 25%;
  height: 80%;
  margin-top: 10%;
  float: right;
  box-shadow: 10px 5px 5px black;
  top: 0px;
}
.card .card-header {
  width: 100%;
  height: auto;
}
.card .card-header .card-title {
  width: 100%;
  text-align: center;
  font-weight: bold;
}
.card .card-header .card-desc {
  width: 100%;
  text-align: center;
}
.card .card-body {
  text-align: center;
  width: 100%;
  height: auto;
}
.modal-header {
  position: relative;
  display: block;
  width: 100%;
}
.modal-header .modal-title {
  text-align: center;
  font-weight: bold;
  font-height: 2em;
}
.modal-body {
  position: relative;
  display: block;
  width: 100%;
}
.modal-body .modal-button {
  cursor: pointer;
  background: #848482;
  color: #efefef;
  font-size: 1em;
  line-height: 1em;
  height: 35px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  border: none;
  border-radius: 5px;
  padding: 10px 0px;
}
.modal-body .modal-button.one-wide {
  width: 50%;
  margin-left: 25%;
  margin-right: 0px;
}
#app-container {
  width: 100%;
  height: auto;
  display: relative;
}
.state-hidden {
  display: none;
}
/*
Copyright (c) 2011 LectureTools Inc.

Permission is hereby granted, free of charge, to any person obtaining a copy of
this software and associated documentation files (the "Software"), to deal in
the Software without restriction, including without limitation the rights to
use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies
of the Software, and to permit persons to whom the Software is furnished to do
so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*/

/*
** Styles for ltmenu
*/
/* TEXT COLORS */
.green {
    color: #337F00;
}
.green:hover {
    text-decoration:underline;
}

.gray {
    color: #666666;
}
.gray:hover {
    text-decoration:none !important;
}


/* FONT SIZING */
.large-font {
    font-size:16px;
}
.medium-font {
    font-size:13px;
}
.small-font {
    font-size:12px;
}

/* DIVIDING LINE */
.ltmenu-div-line {
    height:1px;
    width:280px;
    border:none;
    background-color:#CCC;
    color: #CCC;
}


.ltmenu-wrapper {
    width: 300px;
    border:solid 1px #7F7F7F;
    box-shadow:3px 3px 3px rgba(0,0,0,.65);
}

.ltmenu {
    width: 300px;
    height:auto;
    cursor:pointer;
    margin-left:10px;
}

.ltmenu .ltmenu-item {

}

.ltmenu-item {
    margin-left:10px;
    cursor:pointer;
    list-style-type:none;
    width: auto;
}

.ltmenu-item-description {
    margin-left:10px;
}

ltmenu-item .submenu-item {

}
